* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-text: #3c3e41;
  --bg-color: #ffffff;
  --grey: #f0f0f0;
  --white: #ffffff;
  --black: #000;
  --bg-button: #bf2c24;
  --bg-nav: #3e3d43;
  --bg-nav-mb: #313035;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --bg-cd: #f0f0f0;
  --btn-genres: #bf2c24;
}

body {
  background-color: var(--bg-color);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 100%;
}

body.active {
  --color-text: #ffff;
  --bg-color: #222;
  --grey: #222;
  --white: #ffffff;
  --black: #ffff;
  --bg-button: #bf2c24;
  --bg-nav: #3e3d43;
  --bg-cd: #3e3d43;
  --btn-genres: #ffff;
}

a,
i,
button {
  cursor: pointer;
}

a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.1em;
}

.btn {
  background: var(--bg-button);
  color: var(--white);
  font-size: 13px;
  padding: 12px 12px;
  display: inline-block;
  border-radius: 9999px;
}
.btn-r-a {
  background: var(--bg-button);
  color: var(--white);
  font-size: 13px;
  padding: 12px 12px;
  display: inline-block;
}
.dropbtn {
  display: none;
}
.dropdown {
  display: none;
}
.title {
  font-size: 20px;
  color: var(--black);
  font-size: 20px;
  padding-bottom: 2px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--black);
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.img-fluid {
  width: 100%;
  object-fit: contain;
  height: auto;
}

.hidden {
  display: none;
}
.active-show {
  display: block;
}
.bt-active {
  background-color: var(--bg-button);
}

/*----- Header ----- */
/* header {
  border-bottom: 1px solid #f0f0f0;
} */
.header-main {
  padding: 14px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* .logo {
  width: 150px;
  height: 60px;
} */
.logo h1 {
  color: var(--black);
  font-size: 23px;
  font-weight: 700;
}
.logo span {
  color: #ed2024;
  font-size: 33px;
  font-weight: 900;
}
.account {
  align-items: center;
  gap: 10px;
}
.form-search input {
  width: 500px;
  height: 48px;
  border: 1px solid #ddd;
  padding: 0 11px;
  float: left;
  -webkit-appearance: none;
}
.form-search button {
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: none;
  background: var(--bg-button);
  color: #fff;
}
.form-search-mb {
  display: none;
}
#theme-toggler {
  font-size: 1.2rem;
  padding-right: 12px;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 9;
}

#content-search {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #f9f9f9;
  z-index: 10;
  position: relative;
}

#content-search.show {
  max-height: 1000px; /* Giá trị lớn để đảm bảo hiển thị đủ nội dung */
}

#overlay.show {
  display: block;
}
.icon-user {
  display: none;
}
/*----- End Header ----- */

/*----- Main Nav ----- */

.main-nav {
  background-color: var(--bg-nav);
}
.main-nav a {
  color: #ffff;
}
.genres {
  /* padding: 15px 0; */
  background-color: #313035;
  padding: 12px 0;
}
.genres a {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter {
  /* padding: 15px 0; */
  background-color: #313035;
  padding: 12px 0;
}
.filter a {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-nav-content {
  justify-content: space-between;
  align-items: center;
}
.sort-dropdown ul {
  margin: 0;
  list-style: none;
  display: flex;
  height: 100%;
}

.sort-dropdown ul li {
  padding: 0 30px;
}

/*----- End Main Nav ----- */

/* SLider */
.cascade-slider_container {
  background-color: var(--grey);
  position: relative;
  width: 100%;
  height: 400px;
  overflow-x: hidden;
}
/* End SLider */

/* Preface */
.preface {
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: var(--bg-cd);
}
.preface button {
  margin-top: 10px;
}
/* End Preface */

/* List Comics */
.story-main {
  padding: 25px 0;
  align-items: center;
  justify-content: space-between;
}
.story-main h2 a {
  color: var(--bg-button);
  font-size: 20px;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--bg-button);
  text-transform: uppercase;
}

.story-item {
  margin: 15px 0;
}

.story-item img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/* .story-item img:hover {
  width: 350px;
} */
.story-item {
  position: relative;
}
.story-item .card-title {
  position: absolute;
  top: 0;
  left: 0;
}

.card-item p {
  text-align: center;
  font-size: 13px;
  margin: 5px;
  color: #fff;
  padding: 4px;
  font-weight: 500;
}
.card-red {
  background-color: var(--bg-button);
}
.card-green {
  background-color: green;
}

.name-comic h1 {
  font-size: 14px;
  color: var(--color-text);
  font-weight: 500;
}

.story-new-list {
  margin-top: 15px;
}

.story-new-item {
  padding: 3px 0;
  border-bottom: 0.1px solid #ddd;
  align-items: center;
  margin: 2px;
}
.new-story-genre a {
  font-size: 14px;
}
.new-story-name a {
  color: var(--bg-button);
  font-weight: 600;
}
.new-story-chapter {
  font-size: 13px;
  color: #555;
}
.new-story-time {
  font-size: 12px;
}
.list-genre {
  width: 100%;
  /* height: 300px; */
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bg-cd);
  color: var(--bg-button);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.genre a {
  color: var(--color-text);
  font-size: 14px;
}

.tab-container {
  display: flex;
  border-bottom: 1px solid #ddd;
}
.tab {
  display: flex;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

/* .tab:hover {
  color: var(--white);
  background-color: var(--bg-button);
} */

.tab.active-detail {
  color: var(--bg-button);
  border-bottom: 3px solid var(--bg-button);
}

.content {
  font-size: 15px;
  padding: 15px 0;
  display: none;
}

.content.active-detail {
  display: block;
}
/* End List Comics */

/* Breadcrumbs */
.breadcrumbs {
  padding: 15px 0;
}
.breadcrumbs-item {
  font-size: 12.5px;
}
/* End Breadcrumbs */

/* Story Details */

.story-detail {
  margin: 0 auto;
  padding: 25px 0;
}
.info-story div {
  margin: 10px 0;
}
.info-story h1 {
  font-size: 26px;
}
.publication-date {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #888;
  font-style: italic;
}
.btn-read {
  padding-top: 10px;
}
.author {
}
.book {
  width: 250px;
}

.book-effect {
  perspective: 1000px;
}
.book-effect img {
  position: relative;
  width: 250px;
  height: 350px;
  transform: rotateY(-15deg);
  filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.5));
  z-index: 3;
  object-fit: cover;
  border-top-left-radius: 0.1rem; /* 8px */
  border-bottom-left-radius: 0.2rem; /* 8px */
}
.page-book {
  position: absolute;
  right: -24px;
  top: 0;
  transform: rotateY(40deg);
  background-color: #888;
  width: 30px;
  height: 350px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.page-book img {
  width: 25px;
  height: 337px;
  object-fit: contain;
}

.info-genres button {
  padding: 5px;
  color: var(--btn-genres);
  background-color: var(--bg-color);
  border: 1px solid var(--bg-button);
  border-radius: 9999px;
}
.star-rating {
  display: inline-block;
}

.star {
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.star.full {
  color: #f39c12;
  -webkit-text-fill-color: #f39c12;
}

.star.half {
  background: linear-gradient(90deg, #f39c12 50%, #ccc 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* End Story Details */

/* Select Option */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: var(--bg-button);
  border-radius: 9999px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 17px;
  right: 24px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: var(--bg-button);
  top: 110%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* End Select Option */

/* Footer */

footer {
  width: 100%;
  background: var(--bg-nav);
}
footer .footer-content {
  padding: 20px 0;
}

footer .about-us p {
  color: #888;
  padding: 5px 0;
}
.ft-top-up {
  margin-top: 5px;
}
.category ul {
  gap: 0;
  list-style: none;
}
.category ul li a {
  color: var(--white);
}
.category ul li {
  font-size: 11px;
  margin: 4px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid var(--bg-button);
}

.category ul :hover {
  background-color: var(--bg-button);
}
.copyright {
  border-top: 1px solid #888;
  font-size: 16px;
  padding: 14px;
  text-align: center;
  color: #888;
}
/* End Footer */
@media screen and (max-width: 1240px) {
  .story-detail .info-story {
    padding-left: 46px;
  }
}

@media screen and (max-width: 1023px) {
  .form-search {
    display: flex;
    width: 100%;
  }
  .form-search input {
    width: 80%;
    height: 42px;
    line-height: 42px;
  }
  .form-search button {
    width: 20%;
    height: 42px;
    line-height: 42px;
  }
  .form-search-mb {
    font-size: 1.2rem;
    display: block;
    padding-right: 12px;
  }
  .main-search {
    display: none;
  }
  .sort-dropdown {
    display: none;
  }
  .main-nav {
    background-color: var(--bg-nav-mb);
  }
  .story-detail .info-story {
    padding-left: unset;
  }
}

@media (max-width: 568px) {
  .header-main {
    flex-wrap: wrap;
  }
  .logo h1 {
    font-size: 18px;
  }
  .logo span {
    font-size: 28px;
  }
  .btn {
    font-size: 13px;
    padding: 8px 8px;
  }
  footer .footer-content {
    gap: 20px;
  }
  .list-genre {
    margin-top: 30px;
  }
  .login {
    display: none;
  }
  .register {
    display: none;
  }
  .icon-user {
    display: block;
  }
  .icon-user i {
    font-size: 1.2rem;
    color: var(--bg-button);
  }

  /* Drop Down */
  .dropbtn {
    background: var(--bg-button);
    color: var(--white);
    font-size: 13px;
    padding: 12px 12px;
    display: inline-block;
    border-radius: 9999px;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    background: white;
    color: var(--bg-button);
    border: 1px solid var(--bg-button);
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    top: 55px;
    right: -12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 12;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }
  .book {
    margin: 0 auto;
  }
  .info-story {
    text-align: center;
    margin: 0;
  }
  .info-story .flex {
    justify-content: center;
  }

  /* End Drop Down */
  .story-detail .info-story {
    padding-left: unset;
  }
}
@media (max-width: 390px) {
  .header-main {
    justify-content: space-around;
  }
  .story-detail .info-story {
    padding-left: unset;
  }
}

/* Select Option */

/* End Select Option */

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(
    --bg-color
  ); /* Set a background color for the loading screen */
  z-index: 1000; /* Ensure it's above all other elements */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.sharingon {
  width: 6em;
  height: 6em;
  background-color: red;
  border: 6px solid black;
  animation: rot 1s ease-in-out infinite;
}

.ring {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 3.5em;
  height: 3.5em;
  border: 4px solid rgb(110, 13, 13, 0.5);
  transform: translate(-50%, -50%);
}

.sharingon,
.ring,
.to,
.circle {
  border-radius: 50%;
}

.to,
.circle {
  position: absolute;
  content: "";
  width: 0.9em;
  height: 0.9em;
  background-color: black;
}

.to:nth-child(1) {
  top: -0.5em;
  left: 50%;
  transform: translate(-40%);
}

.to::before {
  content: "";
  position: absolute;
  top: -0.5em;
  right: -0.2em;
  width: 1.1em;
  height: 0.9em;
  box-sizing: border-box;
  border-left: 16px solid black;
  border-radius: 100% 0 0;
}

.to:nth-child(2) {
  bottom: 0.5em;
  left: -0.35em;
  transform: rotate(-120deg);
}

.to:nth-child(3) {
  bottom: 0.5em;
  right: -0.35em;
  transform: rotate(120deg);
}

.circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 1px;
  width: 1em;
  height: 1em;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.collection {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection .content {
  height: 28rem;
  width: 25rem;
  background-color: #1b1f2a;
  border: 0.2rem solid rgba(255, 255, 255, 0.1);
  border-radius: 0.7rem;
  overflow: hidden;
  /* padding: .2rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

.text-content h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.text-content p {
  max-width: 22rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}
